*{
    margin: 0px;
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.banner{
    margin-top: 0px;
    width: 100%;
    height: 946px;
    background: url(../img/video-poster_1576231362701.png);
    background-size: 100% 100%;
    text-align: center;
    z-index: -10;
}
.header{
    margin-top: -3%;
    padding-top: 15px;
    width: 100%;
    height: 7%;
    top: 0;
}
.logo{
    width: 10.2%;
    height: 56%;
    float: left;
    margin-right: 65%;
    margin-left: 25px;
}
.nav li{
    float: left;
    padding: 4px 20px;
}
.log{
    border-left: 2px solid white;
}
.lev1{
    color: white;
}
.lev1x{
    color: #a6abb0;
}
.banner h1{
    margin-top: 12%;
    font-size: 54px;
    color: white;
    font-weight: 400;
}
.row1{
    width: 100%;
    height: 746px;
    background: url(../img/row1.png) no-repeat;
    background-position: bottom;
    background-size: 80% 45%;
    text-align: center;
}
.banner input{
    color: #bbbfc4;
    font-size: 18px;
    margin-top: 3%;
    width: 421px;
    height: 57px;
    border: none;
    border-radius: 40px;
    outline: none;
}
.banner button{
    position: relative;
    left: -60px;
    top:18px;
    border-radius: 50%;
    width: 49px;
    height: 49px;
    background: url(../img/搜索图标.png) no-repeat;
    background-size: 50% 50%;
    background-position: 50% 45%;
    background-color: #3370ff;
    outline: none;
    border: none;
}
.row1 h1{
    margin-top: 88px;
    font-size: 32px;

}
.row1 span{
    display: inline-block;
    font-size: 16px;
    padding-top: 30px;
    margin-bottom: 8%;
    color: #7f848b;
}
.row1_1{
    width: 70%;
    height: 50%;
    margin: auto;
}
.row1_1 div{
    float: left;
    width: 10%;
    margin: auto;
}
.row1_1 div img{
    border-radius: 30px;
    width: 60%;
    margin-bottom: 10px;
}
.row1_1 a {
    font-size: 16px;
    color: black;
}
#more{
    position: relative;
    top: -10%;
    border: none;
    font-size: 18px;
    background: #3370ff;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    cursor: pointer;
}
.row2{
    width: 100%;
    height: 746px;
    text-align: center;
}
.row2 h1{
    position: relative;
    top: -55px;
    color: black;
    font-size: 32px;
    font-weight: 500;
}
.row2 span{
    font-size: 52px;
    margin-top: 50px;
    display: inline-block;
    width: 100%;
    color: #f5f5f5;
}
.row2_1{
    width: 75%;
    height: 100%;
    margin: auto;
}
.row2_1 div{
    float: left;
    width: 25%;
    height: 50%;
}
.row2_1 img{
    width: 60%;
    height: 60%;
    border-radius: 50%;
}
.row2_1 p{
    margin-top: 20px;
    font-size: 24px;
    color: black;
}
.row3{
    height: 941px;
    width: 100%;
}
.row3 h1{
    position: relative;
    top: -55px;
    color: black;
    font-size: 32px;
    font-weight: 500;
}
.row3 span{
    padding-left: 18%;
    font-size: 52px;
    margin-top: 50px;
    display: inline-block;
    width: 100%;
    color: #f5f5f5;
}
.row3 p{
    display: none;
    font-size: 16px;
    color: #646a73;
}
.row3 ul li {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    color: #646a73;
    cursor: pointer;
}
.row3 ul{
    position: relative;
    left: 20%;
    top: 20%;
}
.content3{
    width: 100%;
    height: 60%;
    width: 80%;
}
.content3 div{
    float: left;
    height: 100%;
}
.cont3{
    width: 70%;
}
#imgs{
    width: 100%;
    height: 100%;
}
.mue3{
    width: 30%;
}
.row4{
    width: 100%;
    height: 946px;
}
.cont4{
    width: 75%;
    height: 100%;
    margin: auto;
}
.cont4 div{
    float: left;
    height: 80%;
}
.txt4{
    width: 40%;
}
.img4{
    width: 60%;
}
.img4 img{
    margin-top: 40%;
    height: 60%;
    width: 100%;
}
.row4 h1{
    position: relative;
    top: -55px;
    color: black;
    font-size: 32px;
    font-weight: 500;
}
.row4 span{
    padding-left: 18%;
    font-size: 52px;
    margin-top: 50px;
    display: inline-block;
    width: 100%;
    color: #f5f5f5;
}
.txt4 div{
    position: relative;
    top: -6%;
    left: 16%;
    width: 65%;
    height: 50%;
    border-top: 1px solid #dee0e3;
}
.txt4 li{
    margin: 10% 0;
    font-size: 20px;
    font-weight: 500;
}
.txt4 p{
    padding-top: 5%;
    font-size: 14px;
    font-weight: 400;
    color:  #646a73;
}
.row5_{
    width: 100%;
    height: 478px;
    background-color: #f8f9fa;
}
.row5{
    height: 528px;
    width: 75%;
    margin: auto;
}
.row5 div{
    float: left;
}
.img5{
    margin-top: 7%;
    width: 55%;
    height: 60%;
}
.img5 img{
    width: 100%;
}
.txt5{
    width: 40%;
    height: 100%;
}
.row5 h1{
    position: relative;
    top: -85px;
    color: black;
    font-size: 28px;
    font-weight: 500;
}
.row5 span{
    padding-left: 18%;
    font-size: 106px;
    margin-top: 50px;
    display: inline-block;
    width: 100%;
    color: #eff0f2;
}
.txt5 div{
    margin-top: -8%;
    border-top: 1px solid #dee0e3;
    margin-left: 18%;
    height: 30%;
    width: 65%;
}
.txt5 div p{
    margin-bottom: 10%;
    font-size: 14px;
    color: #646a73;
}
.row6{
    width: 100%;
    height: 528px;
}
.cont6{
    width: 75%;
    height: 100%;
    margin: auto;
}
.cont6 div{
    float: left;
    height: 100%;
}
.txt6{
    width: 40%;
}
.img6{
    width: 60%;
}
.img6 img{
    margin-top: 15%;
    width: 92%;
    height: 85%;
}
.row6 h1{
    position: relative;
    top: -85px;
    color: black;
    font-size: 28px;
    font-weight: 500;
}
.row6 span{
    padding-left: 18%;
    font-size: 106px;
    margin-top: 50px;
    display: inline-block;
    width: 100%;
    color: #eff0f2;
}
.txt6 div{
    position: relative;
    top: -6%;
    left: 16%;
    width: 65%;
    height: 50%;
    border-top: 1px solid #dee0e3;
}
.txt6 li{
    margin: 9% 0;
    font-size: 20px;
    font-weight: 500;
}
.txt6 p{
    padding-top: 5%;
    font-size: 14px;
    font-weight: 400;
    color:  #646a73;
}
.row7{
    width: 100%;
    height: 528px;
    background-color: #f8f9fa;
}
.cont7{
    width: 75%;
    height: 100%;
    margin: auto;
}
.cont7 div{
    float: left;
    height: 100%;
}
.txt7{
    width: 40%;
}
.img7{
    width: 60%;
}
.img7 img{
    margin-top: 15%;
    width: 92%;
    height: 85%;
}
.row7 h1{
    position: relative;
    top: -85px;
    color: black;
    font-size: 28px;
    font-weight: 500;
}
.row7 span{
    padding-left: 18%;
    font-size: 106px;
    margin-top: 50px;
    display: inline-block;
    width: 100%;
    color: #eff0f2;
}
.txt7 div{
    position: relative;
    top: -6%;
    left: 16%;
    width: 65%;
    height: 50%;
    border-top: 1px solid #dee0e3;
}
.txt7 li{
    margin: 9% 0;
    font-size: 20px;
    font-weight: 500;
}
.txt7 p{
    padding-top: 5%;
    font-size: 14px;
    font-weight: 400;
    color:  #646a73;
}
.patch{
    width: 100%;
    height: 100px;
}
.row8{
    width: 100%;
    height: 728px;
}
.cont8{
    width: 75%;
    height: 100%;
    margin: auto;
}
.cont8 div{
    float: left;
    height: 100%;
}
.txt8{
    width: 40%;
}
.img8{
    margin-top: 5%;
    width: 60%;
}
.img8 div{
    float: left;
    background-size: 100% 100%;
    border-radius: 20px;
}
.img8-1{
    background: url(../img/row8.png);
    height: 55%;
    width: 100%;
}
.img8-2{
    background: url(../img/row8-2.jpg);
    margin-top: 4%;
    width: 48%;
    height: 40%;
}
.img8-3{
    background: url(../img/row8-3.jpg);
    margin-left: 4%;
    margin-top: 4%;
    width: 48%;
    height: 40%;
}
.row8 h1{
    position: relative;
    top: -85px;
    color: black;
    font-size: 28px;
    font-weight: 500;
}
.row8 span{
    padding-left: 18%;
    font-size: 106px;
    margin-top: 50px;
    display: inline-block;
    width: 100%;
    color: #eff0f2;
}
.txt8 div{
    position: relative;
    top: -6%;
    left: 16%;
    width: 65%;
    height: 50%;
    border-top: 1px solid #dee0e3;
}
.txt8 li{
    margin: 9% 0;
    font-size: 20px;
    font-weight: 500;
}
.txt8 p{
    padding-top: 5%;
    font-size: 14px;
    font-weight: 400;
    color:  #646a73;
}
.row9{
    width: 100%;
    height: 715px;
    text-align: center;
}
.row9 h1{
    position: relative;
    top: -55px;
    color: black;
    font-size: 32px;
    font-weight: 500;
    width: 100%;
}
.row9 span{
    padding-left: 18%;
    font-size: 48px;
    margin-top: 80px;
    display: inline-block;
    color: #eff0f2;
    width: 30%;
    margin-left: -15%;
}
.cont9{
    width: 60%;
    height: 73%;
    margin: auto;
}
.cont9 div{
    float: left;
    width: 33%;
    height: 93%;
    cursor: pointer;
}
.cont9 img{
    width: 60%;
    margin-top: 2%;
}
.cont9 h2{
    font-size: 22px;
    margin-top: 7%;
    color: black;
    font-weight: 400;
}
.cont9 h3,.cont9 p{
    font-size: 14px;
    color: #646a73;
    width: 70%;
    margin: 4% auto;
}
.cont9 button{
    width: 32px;
    height: 32px;
    background: url(../img/箭头\ 右.png) no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    background-color: #edeeef;
    border: none;
    outline: none;
}
.buttom{
    width: 100%;
    height: 231px;
    background-color: #1f2329;
}
.cont-buttom{
    width: 75%;
    height: 100%;
    margin: auto;
}
.cont-buttom div{
    float: left;
}
.left{
    width: 36%;
    height: 100%;
    background: url(../img/left.jpg);
}
.center{
    width: 28%;
}
.center div{
    width: 49%;
    height: 40%;
    margin-top: 20%;
}
.buttom-li{
    font-size: 14px;
    color: #7b7e81;
    margin-bottom: 14%;
    cursor: pointer;
}
.buttom-lix{
    margin-bottom: 5%;
    font-size: 14px;
    color: #D2D3D4;
    cursor: pointer;
}
.center ul{
    margin-left: 15%;
}
.right{
    width: 36%;
    height: 100%;
}
.right p{
    font-size: 14px;
    color: #7b7e81;
    margin-top: 15%;
}
.right li{
    float: left;
    border-radius: 50%;
    height: 32px;
    background-color: white;
    padding-bottom: -4px;
    margin-right: 3%;
}
.right img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.qr_code{
    position: relative;
    top: -180px;
    width: 40%;
    height: 180px;
    z-index: 99;
}
.qr1{
    display: none;
    position: relative;
    left: 1050px;
    top: -130px;
    width: 308px;
    height: 180px;
    background: url(../img/qr_code.jpg);
}
.qr2{
    display: none;
    position: relative;
    left: 1180px;
    top: -130px;
    width: 154px;
    height: 180px;
    background: url(../img/qr_code2.jpg);
}
.qr3{
    display: none;
    position: relative;
    left: 1230px;
    top: -130px;
    width: 154px;
    height: 180px;
    background: url(../img/qr_code3.jpg);
}
.qr4{
    display: none;
    position: relative;
    left: 1275px;
    top: -130px;
    width: 154px;
    height: 180px;
    background: url(../img/qr_code4.jpg);
}
.qr5{
    display: none;
    position: relative;
    left: 1320px;
    top: -130px;
    width: 154px;
    height: 180px;
    background: url(../img/qr_code5.jpg);
}
.qr6{
    display: none;
    position: relative;
    left: 1365px;
    top: -130px;
    width: 154px;
    height: 180px;
    background: url(../img/qr_code6.jpg);
}
.qr7{
    display: none;
    position: relative;
    left: 1410px;
    top: -130px;
    width: 154px;
    height: 180px;
    background: url(../img/qr_code7.jpg);
}
.qr8{
    display: none;
    position: relative;
    left: 1455px;
    top: -130px;
    width: 154px;
    height: 180px;
    background: url(../img/qr_code8.jpg);
}