*{
    margin: auto;
}
.header{
    height: 40px;
    width: 100%;
    background: #1a1a1a;
}
.header img{
    position: relative;
    left: 160px;
    top: 20px;
}
.nav{
    float: left;
    height: 60px;
    width: 100%;
    background: #1a1a1a;
    z-index:10;
}
.nav li{
    float: left;
    list-style: none;
    padding: 13.5px 15px;
}
.nav ul {
    position: relative;
    left: 110px;
    z-index:10;
}
.nav li a{
    color: white;
    text-decoration: none;
    
}
.nav li a:hover{
    color: #0078d4;
}
.nav ul li:hover {
    border-bottom: 2px solid #0078d4;
}
.nav dl{
    position: absolute;
    top: 50px;
    display: none;
    background-color: white;
}
.nav dl dd{
    margin: 20px;
}
.nav dl dd a{
    color: #1a1a1a;
}
.nav li:hover dl{
    display: block;
}
p {
    display: inline-block;
    color: #afafaf;
    font-size: 8px;
    cursor: pointer;
}
#lev2{
    display: none;
}
.lev2{
    position: absolute;
    top: 90px;
    left: 250px;
    width: 250px;
    background-color: black;
    z-index: 11;
}
.lev2 li{
    color: white;
    list-style: none;
  padding: 13px 15px;
    margin-left: -40px;
    cursor: pointer;
}
.lev2 li:hover{
    background-color: #0078d4;
}
.lev2 ul li dd {
    cursor: auto;
    display: none;
    position: absolute;
    top: 0px;
    left: 250px;
    height: 658px;
    width: 400px;
    color: gray;
    background-color: white;
}
.lev2 ul li dl{
    color: black;
    padding: 12px 15px;
}
.lev2 ul li:hover dd {
    display: block;
}
.lev2 a{
    text-decoration: none;
    color: black;
}
.lev2 a:hover{
    color: #0078d4;
}
.changeimg{
    height: 430px;
    width: 100%;
    background-color: #1a1a1a;
}
.windows{
    width: 1581px;
    height: 370px;
    overflow: hidden;
}
#view{
    width: 8045px;
    height: 370px;
    position: relative;
    left: 0px;
}
#view img{
    display: block;
    float: left;
    height: 100%;
}
.guide{
width: 1903px;
height: 172px;
background-color: #e2e6ec;
}
.guide div{
    width: 527px;
    height: 172px;
    float: left;
    cursor: pointer;
}
.img1{
    background: url(images/jswd.jpg);
}
.img2{
    background: url(images/alyj.jpg);
}
.img3{
    background: url(images/zxgg.jpg);
}
.img1:hover {
    background: url(images/jswd1.jpg);
}
.img2:hover{
    background: url(images/alyj1.jpg);
}
.img3:hover{
    background: url(images/zxgg1.jpg);
}
.row{
    width: 100%;
    height: 410px;
    background-color: skyblue;
}
